version: '3.7'
services:
  app:
    image: serversideup/php:beta-8.3-fpm-nginx
    container_name: {appname}_webserver
    ports:
      - '8888:80'
      - '444:443'
    volumes:
      - .:/var/www/html/:cached
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - AUTORUN_ENABLED=false
      - SSL_MODE=mixed
    networks:
      - {appname}_network
  task:
    build:
      context: .
      dockerfile: Dockerfile-cli
    container_name: {appname}_task
    command: ["gosu", "www-data", "/usr/local/bin/php", "artisan", "schedule:work"]
    volumes:
      - .:/var/www/html/:cached
    environment:
      PHP_FPM_POOL_NAME: "{appname}_task"
    networks:
      - {appname}_network
  queue:
    build:
      context: .
      dockerfile: Dockerfile-cli
    container_name: {appname}_queue
    command: ["gosu", "www-data", "/usr/local/bin/php", "artisan", "queue:work"]
    volumes:
      - .:/var/www/html/:cached
    environment:
      PHP_FPM_POOL_NAME: "{appname}_queue"
    networks:
      - {appname}_network
  redis:
    container_name: {appname}_redis
    image: redis:7.0-alpine
    command: "redis-server --appendonly yes --requirepass redispassword"
    networks:
      - {appname}_network
  db:
    container_name: {appname}_db
    image: mysql:8.3
    ports:
      - '3305:3306'
    volumes:
      - {appname}-db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=laravel
    networks:
      - {appname}_network

volumes:
  {appname}-db:
    driver: local

networks:
  {appname}_network:
